{% extends './layout.html' %}
{% block content %}
<div id="travel">

  <h3>Hotels:</h3>
  <select name="hotels" id="hotels" class="form-control">
  {% for name in hotels %}
  <option value="{{name}}">{{ name }}</option>
  {% endfor %}
  </select>
  
  <h3>Activities:</h3>
  <select name="activities" id="activities">
  {% for name in activities %}
    <option value="{{name}}">{{ name }}</option>
  {% endfor %}
  </select>
  
<!--
  <h3>Places:</h3>
  <select name="places" id="places">
  {% for address in places %}
    <option value="{{address}}">{{ address }}</option>
  {% endfor %}
  </select>
-->
  
  <h3>Restaurants:</h3>
  <select name="restaurants" id="restaurants">
  {% for name in restaurants %}
    <option value="{{name}}">{{ name }}</option>
  {% endfor %}
  </select>
</div>
{% endblock %}
